<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>66DF1076-6E3B-4A5D-BCD9-4CF629E8A7F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD923849-7E7D-4FA6-BAD8-55223B49E823</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CD2109A-8722-4D5C-A45F-7FBA98BADDFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D143D53C-AF00-48D0-9F62-B83B603F245C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A132E2E0-01D0-436A-AA75-91FC52E48B0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C83429D6-DD4F-4951-A0F0-91118C02FC26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8943074-1FC2-482A-8016-A70908ED0D9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EAEB10E-E0C4-461B-B0EF-A7A45124F6BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rob de Kort</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Common Folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>desktop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>66DF1076-6E3B-4A5D-BCD9-4CF629E8A7F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>CD923849-7E7D-4FA6-BAD8-55223B49E823</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D143D53C-AF00-48D0-9F62-B83B603F245C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Downloads</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9CD2109A-8722-4D5C-A45F-7FBA98BADDFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Sites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C83429D6-DD4F-4951-A0F0-91118C02FC26</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sites</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Sites</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A132E2E0-01D0-436A-AA75-91FC52E48B0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>projects</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Projecten</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8943074-1FC2-482A-8016-A70908ED0D9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Documents/Studio 1902/Projecten</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1EAEB10E-E0C4-461B-B0EF-A7A45124F6BB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EAEB10E-E0C4-461B-B0EF-A7A45124F6BB</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>66DF1076-6E3B-4A5D-BCD9-4CF629E8A7F9</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9CD2109A-8722-4D5C-A45F-7FBA98BADDFE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>A132E2E0-01D0-436A-AA75-91FC52E48B0D</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>C83429D6-DD4F-4951-A0F0-91118C02FC26</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>CD923849-7E7D-4FA6-BAD8-55223B49E823</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D143D53C-AF00-48D0-9F62-B83B603F245C</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>F8943074-1FC2-482A-8016-A70908ED0D9A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
